* {
  box-sizing: border-box;
}

.new-year-container {
  font-family: Arial, sans-serif;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

.new-year-container .bar {
  padding: 10px;
  color: white;
  background-color: #9d122a;
  margin-bottom: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 22px;
}

.new-year-container .products {
  background-color: #f9f0f1;
  padding: 10px;
}

.new-year-container .products .items {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.new-year-container .products .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  padding: 5px;
  cursor: pointer;
}

.new-year-container .item .text-box {
  display: flex;
  justify-content: center;
}

.new-year-container .item .text-box .description {
  font-size: 17px;
  height: 4em;
  text-align: left;
  overflow-wrap: anywhere;
  overflow: hidden;
}

.new-year-container .item .text-box .price {
  display: flex;
  flex-shrink: 0;
  background-color: white;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}
.new-year-container .item .img-container {
  max-height: 200px;
  z-index: 1;
  transform: scale(1);
  transition: transform ease-in 0.2s;
}

.new-year-container .item .img-container.show {
  opacity: 1;
  transform: scale(1.2);
}

.new-year-container .item .img-container img {
  max-height: 100%;
  max-width: 100%;
}

.new-year-container .item .buy-now {
  opacity: 0;
  width: 70%;
  padding: 7px 0;
  color: white;
  text-align: center;
  font-weight: 700;
  background-color: black;
  margin: auto;
  border: none;
  outline: none;
  z-index: 10;
  text-decoration: none;
}

.new-year-container .item .buy-now.show {
  opacity: 1;
}

.new-year-container .products .see-more {
  color: black;
  font-size: 12px;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .new-year-container .item .text-box .description {
    font-size: 12px;
  }
  .new-year-container .item .text-box .price {
    font-size: 17px;
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .new-year-container .item .buy-now {
    font-size: 12px;
    font-weight: 500px;
  }
  .new-year-container .products .see-more {
    font-size: 10px;
  }

  .new-year-container .products .items {
    flex-wrap: wrap;
  }
  .new-year-container .products .item {
    width: 50%;
  }
  #item1 {
    order: 3;
  }
  #item2 {
    order: 1;
  }
  #item3 {
    order: 2;
  }
  #item4 {
    order: 4;
  }
}

@media screen and (max-width: 410px) {
  .new-year-container .bar {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 18px;
  }
  .new-year-container .item .text-box .description {
    font-size: 9px;
  }
  .new-year-container .item .text-box .price {
    font-size: 12px;
    width: 40px;
    height: 40px;
  }
  .new-year-container .item .buy-now {
    font-size: 10px;
    font-weight: 400px;
  }
  .new-year-container .products .see-more {
    font-size: 8px;
  }
}
