* {
  box-sizing: border-box;
}

.container {
  padding: 5px;
  text-align: center;
}

.new-year-bar {
  padding: 5px;
  background-color: red;
  margin-bottom: 5px;
}

.products {
  background-color: lightpink;
  padding: 10px;
}

.items {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.items .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  padding: 5px;
}

.text {
  display: flex;
  justify-content: center;
}

.description {
  height: 4rem;
  text-align: left;
  overflow-wrap: anywhere;
  overflow: hidden;
}

.price {
  display: flex;
  background-color: white;
  border-radius: 50%;
  min-width: 90px;
  min-height: 90px;
  justify-content: center;
  align-items: center;
}
.img-container {
  max-height: 300px;
}

.img-container img {
  max-height: 100%;
  max-width: 100%;
}

.img-container img:hover {
  transform: scale(1.1);
}
